

input[type=range]::-moz-range-thumb {

  border: 1px solid #F23E16;
  height: 13px;
  width: 7px;
  border-radius: 2px;
  background: #F23E16;
  cursor: pointer;
-webkit-box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
-moz-box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
}

input[type=range]::-moz-range-thumb:hover {

  border: 1px solid #03318C;
  height: 13px;
  width: 7px;
  border-radius: 2px;
  background:#03318C;
  cursor: pointer;

}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3071a9;
  border-radius:3px;
}
#props {
	height:20px;
	width: 5px;
	background-color: black;
  position: relative;
  top:-9px;
  left:10px ;
}

 input[type="range"]::-moz-range-progress {
        background-color: #0476D9; 
    }
    input[type="range"]::-moz-range-track {  
        background-color: #F2AB27;
    }
    input[type="range"]::-ms-fill-lower {
        background-color: #0476D9; 
    }
    input[type="range"]::-ms-fill-upper {  
        background-color: #F2AB27;
        }

#field {
height: 18px;
width: 28px;
background-color: #F2AB27;
text-align: center;
border: none;
-webkit-box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
-moz-box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
box-shadow: 1px 1px 0px #D0D0D0, 0px 3px 15px rgba(181,181,181,.5);
}

#allprog {
  border: 1px solid #0476D9;
  width: 225px
}